
URL_MINIO=
ACCESS_KEY_MINIO=
SECRET_KEY_MINIO=

SSP_USUARIO_DATABASE_URL=

SSP_CRIMINOSOS_DATABASE_URL=



# --- Traefik ---
CERT_RESOLVER=

# --- Hosts ---
FASTAPI_HOST=
MINIO_HOST=
MINIO_CONSOLE_HOST=

# --- Postgres ---
PG_CRIMINOSOS_PASSWORD=
PG_USUARIOS_PASSWORD=

# --- MinIO ---
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

